alabaster==0.7.13
Babel==2.12.1
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
commonmark==0.9.1
docutils==0.18.1
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
livereload==2.6.3
Markdown==3.4.1
MarkupSafe==2.1.2
packaging==23.0
Pygments==2.14.0
recommonmark==0.7.1
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==1.2.0
tornado==6.2
urllib3==1.26.14
